.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 100%;
  max-width: 300px;
  height: 100%; 
  display: flex; 
  flex-direction: column; 
  overflow: hidden;
  border-radius: 8px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.1) 5px 10px 15px -3px;

  &:hover {
    cursor: pointer;
  }

  .info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;

    &__title {
      font-size: 16px;
      font-weight: 800;
      margin-bottom: 10px;
    }

    .row {
      margin-bottom: 5px;

      &__label {
        font-weight: 600;
      }

      &__value {
        font-weight: 300;
      }
    }
  }
}
